@mixin my-icon($color,$padding-top,$margin-right){
  height: 28px;
  background-color: $color;
  width: 28px;
  text-align: center;
  padding-top: $padding-top;
  margin-right: $margin-right;
}

body{
  font-family: Roboto;
}

nav{
  min-height: 50px !important;
  background: #ffffff;
  .navbar-right{
    li{
      padding-top: 14px;
      display: block;
      margin-right: 40px;
      line-height: 26px;
      font-size: 18px;
    }
    span{
      font-weight: bold;
      color: #61a29e;
    }
    .my-icon{
      @include my-icon(#61a29e,7px,5px);
      color: white;
    }
    #phone{
      color: #61a29e;
      font-weight: bold;
      font-size: 20px;
    }
  }
}
//Breadcumb
.my-breadcrumb{
  margin-top: 50px;
  padding-top: 12px;
  min-height: 50px;
  background-color: #f3f3f3;
  border-top: 3px solid #e5e5e5;
  .confirm{
    color: #61a29e;
  }
  .stepwizard-row {
    display: table-row;
    .stepwizard-step{
      display: table-cell;
      text-align: center;
      position: relative;

      &:before{
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        margin-left: 15px;
        height: 2px;
        background-color: #ccc;
        z-order: 0;
      }
      .step-content{
        background-color: #f3f3f3;
        span{
          font-size: 15px;
          display: inline-block;
        }
      }
      .step-one i{
          @include my-icon(#3db660,8px,5px);
          color: white;
      }
      .step-two i{
        @include my-icon(#61a29e,7px,5px);
        color: white;
      }
      .last-step i{
        color: black;
        @include my-icon(#ffffff,7px,5px);
      }
      &:last-child{
        &:before{
          display: none;
        }
      }
    }
  }
}
//Content
//.contact-form{
//  padding-bottom: 70px;
//  .customer-info{
//    .label-group{
//      text-align: right;
//    }
//    .character-span{
//      color: red;
//    }
//  }
//  .my-icon{
//    height: 28px;
//    background-color: #61a29e;
//    width: 28px;
//    text-align: center;
//    color: white;
//    padding-top: 5px;
//    margin-right: 15px;
//    top: 10px;
//  }
//}

//.my-table{
//  border: 1px solid #dddddd;
//  thead{
//    tr{
//      th{
//        padding-left: 15px;
//      }
//    }
//  }
//  tbody{
//    tr{
//      td{
//        border-top: none;
//        padding: 5px;
//      }
//    }
//    tr:first-child{
//      td{
//        padding-top: 20px;
//      }
//    }
//    tr:last-child{
//      td{
//        input{
//          border: 1px solid #dddddd;
//          height: 45px;
//          padding-left: 15px;
//          font-size: 18px;
//        }
//        padding-bottom: 20px;
//      }
//    }
//  }
//}

//Panel
.panel{
  border-radius: 0;
  .panel-heading{
    background-color: #ffffff;
  }
}
.label-group{
  text-align: right;
  label{
    font-weight: normal;
    padding-top: 5px;
    display: inline-block;
  }
  .character-span{
    color: red;
  }
}
//SERVICE
.service_info{
  background-color: #f3f3f3;
  padding-top: 40px;
  padding-bottom: 35px;
  .fast-delivery, .pay-convenient, .wide-network{
    img{
      padding: 0px 15px 7px 0px;
    }
    span{
      font-size: 22px;
      font-weight: normal;
      display: inline-block;
    }
    p{
      font-size: 13px;
      margin-bottom: 5px;
    }
    ul{
      font-size: 13px;
      padding-left: 15px;
      li{
        margin-top: 2px;
      }
    }
  }
  .wide-network{
    a{
      text-decoration: none;
      &:hover{
        color: #f79420;
      }
    }
  }
}
//PAY INFO
.pay_info{
  min-height: 300px;
  .list-image{
    img{
      height: 30px;
      margin-right: 10px;
    }
  }
  .delivery-service{
  }
  .certificate{
    img{
      height: 55px;
    }
  }
  h4{
    padding-top: 35px;
    padding-bottom: 5px;
  }
}
