body {
  font-family: Roboto; }

nav {
  min-height: 50px !important;
  background: #ffffff; }
  nav .navbar-right li {
    padding-top: 14px;
    display: block;
    margin-right: 40px;
    line-height: 26px;
    font-size: 18px; }
  nav .navbar-right span {
    font-weight: bold;
    color: #61a29e; }
  nav .navbar-right .my-icon {
    height: 28px;
    background-color: #61a29e;
    width: 28px;
    text-align: center;
    padding-top: 7px;
    margin-right: 5px;
    color: white; }
  nav .navbar-right #phone {
    color: #61a29e;
    font-weight: bold;
    font-size: 20px; }

.my-breadcrumb {
  margin-top: 50px;
  padding-top: 12px;
  min-height: 50px;
  background-color: #f3f3f3;
  border-top: 3px solid #e5e5e5; }
  .my-breadcrumb .confirm {
    color: #61a29e; }
  .my-breadcrumb .stepwizard-row {
    display: table-row; }
    .my-breadcrumb .stepwizard-row .stepwizard-step {
      display: table-cell;
      text-align: center;
      position: relative; }
      .my-breadcrumb .stepwizard-row .stepwizard-step:before {
        top: 14px;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 100%;
        margin-left: 15px;
        height: 2px;
        background-color: #ccc;
        z-order: 0; }
      .my-breadcrumb .stepwizard-row .stepwizard-step .step-content {
        background-color: #f3f3f3; }
        .my-breadcrumb .stepwizard-row .stepwizard-step .step-content span {
          font-size: 15px;
          display: inline-block; }
      .my-breadcrumb .stepwizard-row .stepwizard-step .step-one i {
        height: 28px;
        background-color: #3db660;
        width: 28px;
        text-align: center;
        padding-top: 8px;
        margin-right: 5px;
        color: white; }
      .my-breadcrumb .stepwizard-row .stepwizard-step .step-two i {
        height: 28px;
        background-color: #61a29e;
        width: 28px;
        text-align: center;
        padding-top: 7px;
        margin-right: 5px;
        color: white; }
      .my-breadcrumb .stepwizard-row .stepwizard-step .last-step i {
        color: black;
        height: 28px;
        background-color: #ffffff;
        width: 28px;
        text-align: center;
        padding-top: 7px;
        margin-right: 5px; }
      .my-breadcrumb .stepwizard-row .stepwizard-step:last-child:before {
        display: none; }

.panel {
  border-radius: 0; }
  .panel .panel-heading {
    background-color: #ffffff; }

.label-group {
  text-align: right; }
  .label-group label {
    font-weight: normal;
    padding-top: 5px;
    display: inline-block; }
  .label-group .character-span {
    color: red; }

.service_info {
  background-color: #f3f3f3;
  padding-top: 40px;
  padding-bottom: 35px; }
  .service_info .fast-delivery img, .service_info .pay-convenient img, .service_info .wide-network img {
    padding: 0px 15px 7px 0px; }
  .service_info .fast-delivery span, .service_info .pay-convenient span, .service_info .wide-network span {
    font-size: 22px;
    font-weight: normal;
    display: inline-block; }
  .service_info .fast-delivery p, .service_info .pay-convenient p, .service_info .wide-network p {
    font-size: 13px;
    margin-bottom: 5px; }
  .service_info .fast-delivery ul, .service_info .pay-convenient ul, .service_info .wide-network ul {
    font-size: 13px;
    padding-left: 15px; }
    .service_info .fast-delivery ul li, .service_info .pay-convenient ul li, .service_info .wide-network ul li {
      margin-top: 2px; }
  .service_info .wide-network a {
    text-decoration: none; }
    .service_info .wide-network a:hover {
      color: #f79420; }

.pay_info {
  min-height: 300px; }
  .pay_info .list-image img {
    height: 30px;
    margin-right: 10px; }
  .pay_info .certificate img {
    height: 55px; }
  .pay_info h4 {
    padding-top: 35px;
    padding-bottom: 5px; }

/*# sourceMappingURL=Tratruoc_Trasau.css.map */
