@media (min-width: 1200px){

}
@media (min-width: 992px) and (max-width: 1199px){
  .my-breadcrumb{
    .confirm{
      padding-top: 8px;
    }
  }
}
@media (min-width: 768px) and (max-width: 991px){
  .my-breadcrumb{
    .confirm{
      padding-top: 17px;
    }
  }
}
@media (min-width: 480px) and (max-width: 767px){
  .my-breadcrumb{
    .confirm{
      padding-top: 15px;
    }
  }
}
@media (max-width: 479px){
  .my-breadcrumb{
    .confirm{
      display: none;
    }
    .stepwizard-row{
      float: none;
    }
  }
}
